<%= render 'shared/notification' if flash[:notice].present? %>

<%= render 'filter_form', filter_params: @filter_params, tags: @tags, sub_tags: @sub_tags %>

<div>
  <h1>Articles</h1>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary pull-right' %>
</div>

<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Title</th>
    <th>Posted At</th>
    <th>Posted By</th>
    <th></th>
  </thead>
  <tbody>
    <%= render @articles %>
  </tbody>
</table>
